
* {
    box-sizing: border-box;
}

/* Убираем лишние «пухлости» (отступы) */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

/* отмена точек у списков */
ul {
    list-style: none;
}

/* чтобы картинки не вылезали за края */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: Montserrat, sans-serif;
    color: #0C0C0C;
    line-height: 1.5;
}
[class$="-container"]{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: lowercase;
}
.nav-list{
    display: flex;
    gap: 40px;
}
.nav-list a{
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s ease;
}
.nav-list li{
    position: relative;
    padding-bottom: 10px;
}

.nav-list li:first-child::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #3350E9;
    border-radius: 50%;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.social-icons{
    display: flex;
    gap: 10px;
    fill: #0C0C0C;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    transition: border-color 0.3s ease;
}
.icon{
    width: 20px;
    height: 20px;
    fill: #0C0C0C;
    flex-shrink: 0;
}
.social-item a:hover,
.social-item a:focus{
    border-color: #rgba(51, 80, 233, 0.1);
}
.social-item a:hover .icon,
.social-item a:focus .icon{
    fill: #3350E9;
}
.hero-title{
    font-weight: 600;
    font-size: 72px;
    line-height: 1.05;
    letter-spacing: -0.02em;
    max-width: 700px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: none;
    white-space: normal;
   }
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: auto;
    min-height: 269px;
    margin-top: 0;
    flex-shrink: 0;
}
.user-icons {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 60px;
}
.user-icons .hero-icons {
    margin-left: -20px;
    position: relative;
    margin-bottom: 0;
    display: block;
}
.user-icons .hero-icons img{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    object-fit: cover;
}
.user-icons .hero-icons:first-child {
    margin-left: 0;
}
.user-icons .hero-icons:nth-child(1) {
    z-index: 3;
}

.user-icons .hero-icons:nth-child(2) {
    z-index: 2;
}

.user-icons .hero-icons:nth-child(3) {
    z-index: 1;
}
.user-icons li::after {
    display: none;
}
.hero-collection{
    color: #3350E9;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 20px 0;
    padding-top: 40px;
    padding-bottom: 80px;
    }
.hero-top-row{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 40px;
    gap: 20px;
    padding-top: 10px;
}
.hero-content{
    flex-basis: 700px;
    flex-grow: 1;
    font-size: 16px;
    margin-top: 0;
    }
.hero-content p {
    max-width: 500px;
    margin-top: 20px;
    }

.scroll-link{
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    color: #0C0C0C;
    font-weight: 500;
}
.scroll-link:hover,
.scroll-link:focus{
    color: #3350E9;
}
.hero-img{
     width: 100%;
     display: block;
     justify-content: center;

     margin: 0 auto 80px;
}
.hero-img img{
    width: 100%;
    height: auto;

    border-radius: 24px;
    object-fit: cover;
}
.about-container {

    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    padding-bottom: 80px;
}

.about-text {
    flex: 1;
    background-color: #F3F3F3;
    max-width: 600px;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-title {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 40px;
}

.about-text p {
    max-width: 460px;
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.about-text p:last-of-type{
    margin-bottom: 40px;
}

.about-img {
    flex: 1;
    display: block;
    max-width: 600px;
    height: auto;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.about-button {
    background-color: #3350E9;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 16px;
    font-weight: 500;
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
    align-self: flex-start;
}
.about-button:hover,
.about-button:focus{
    background-color: #1f3cd4;
}
.catalog-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 колонки */
    gap: 40px;

}

.catalog-item {
    background: #F3F3F3;
    padding: 32px 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    transition: transform 0.3s;
    height: 100%;
}

.catalog-item img{
    mix-blend-mode: multiply;
    margin: 0 auto 15px;
    display: block;
    align-self: center;
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.catalog-item:hover {
    transform: translateY(-5px);
}

.catalog-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin: 15px 0 10px;

    display: block;
    width: 100%;
    max-width: 304px;
    white-space: nowrap; /*запрещаем перенос строк*/
    overflow: hidden; /*прячем все что не влезло*/
    text-overflow: ellipsis; /*добавляем троеточие в конце */
}

.item-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
    margin-top: auto;
    margin-left: auto;
}
.advertisement {
    margin: 80px 0;
}

.advertisement-container {
    background-image: url("../images/advertisement-img.jpg");
    background-color: #1E1E1E;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    padding: 60px;
    width: 100%;
    height: 298px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.advertisement-container p {
    font-weight: 600;
    font-size: 48px;
    max-width: 690px;
    line-height: 0.92;
    letter-spacing: -0.02em;
}

.advertisement-span {
    color: rgba(255, 255, 255, 0.5);
}

.advertisement-button {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 14px 28px;
    border-radius: 100px;
    cursor: pointer;
}
.advertisement-button:hover,
.advertisement-button:focus{
    background-color: #FFFFFF;
    color: #0C0C0C;
}
.sale-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sale-title {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 40px;
    letter-spacing: -0.02em;
}

/* Общая обертка для контента */
.sale-content-wrapper {
    display: flex;
    gap: 40px;
    align-items: stretch;
}

/* 1. Колонка с миниатюрами */
.sale-thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    flex-shrink: 0;
}
.sale-thumbnails li{
    width: 132px;
    height: 132px;
    background-color: #F3F3F3;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sale-thumbnails img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    mix-blend-mode: multiply;
    display: block;
}

/* 2. Главное изображение */
.sale-main-img {
    flex: 1;
    background-color: #F3F3F3;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 558px;
    min-width: 328px;
}

.sale-main-img img {
    max-width: 100%;
    max-height: 450px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

/* 3. Фиолетовая карточка с описанием */
.sale-info {
    flex: none;
    background-color: #3350E9;
    width: 530px;
    /* Тот самый фиолетовый */
    color: white;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item-title {
    font-size: 24px;
    margin-bottom: 8px;
    line-height: 1.2;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto;
}
.product-tag {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
}

.price-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 24px;
}

.new-price {
    font-size: 20px;
    font-weight: 700;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.6);
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
    color: rgba(251, 251, 251, 0.7);
}

/* Список тегов (features) */
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto;
    /* Прижимает к низу */
}

.features-list li {
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 6px 12px;
    border-radius: 100px;
    white-space: nowrap;
}
.reviews-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.reviews-item{
    background-color: #F3F3F3;
    padding: 40px 32px;
    border-radius: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.reviews-list li {
    background-color: #F3F3F3;
    padding: 32px 36px;
    border-radius: 24px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-list img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0 auto 16px;
    object-fit: cover;
}

.reviews-list h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

.reviews-list p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
    margin: 0 auto;
    max-width: 298px;
}
.contact-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 80px 20px;
    align-items: stretch;
}

/* Левая часть (форма) */
.contact-form-wrapper {
    width: 580px;
    flex: 1;
    background-color: #F3F3F3;
    padding: 40px;
    border-radius: 24px;
}

.contact-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact-container p {
    margin-bottom: 40px;
    color: rgba(12, 12, 12, 0.6);
    line-height: 1.5;
}

/* Поля ввода */
.form-field {
    margin-bottom: 16px;
    width: 100%;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 12px;
    font-family: inherit;
    font-size: 14px;
    background-color: white;
    outline: none;
}
.form-field input:focus,
.form-field textarea:focus{
    border-color: #3350E9;
    }
.form-field input:not(:placeholder-shown),
.form-field textarea:not(:placeholder-shown){
    border-color: #3350E9;
}
.form-field textarea {
    height: 120px;
    resize: none;
}

/* Кнопка Send */
.form-button {
    background-color: #512DFF;
    color: white;
    border: none;
    padding: 17px 63px;
    border-radius: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    width: 160px;
}

/* Правая часть (картинка) */
.contact-img {
    width: 530px;
    flex: 1;
    display: flex;
}

.contact-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}
/* Фоновая плашка футера */
.footer {
    background-color: #0C0C0C;
    color: #FFFFFF;
    padding: 80px 0 40px;
    /* Увеличил верхний отступ для солидности */
    border-radius: 40px;
    margin: 40px 20px;
}

/* Верхняя секция: Лого, Слоган, Телефон */

/* 1. Блок с логотипом и соцсетями */
.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

/* Специфические стили для иконок в футере, чтобы они стали белыми */
.footer .social-icons {
    fill: #FFFFFF;
}

.footer .social-item a {
    border-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
    fill: #FFFFFF;
}

.footer .social-item a:hover {
    opacity: 1;
}
.footer-top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-bottom: 80px;
    gap: 20px;
}
/* 2. Блок со слоганом (центровка) */
.footer-top p {
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 auto;
    max-width: 523px;
    /* Ограничиваем ширину текста для красоты */
}
.footer-brand,
.footer-phone {
    flex: 1;
    display: flex;
}
/* 3. Блок с телефоном */
.footer-phone {
    flex: 1;
    /* Занимает 1/3 ширины */
    display: flex;
    justify-content: flex-end;
    justify-self: end;
    align-items: center;
    margin-left: 0;
    max-width: fit-content;
    /* Прижимаем номер к правому краю */

    /* Стили самой ссылки-кнопки */
    font-size: 14px;
    padding: 12px 28px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    white-space: nowrap;
    align-self: flex-start;
}

/* Нижняя секция: Навигация и Адрес */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

/* Убираем синюю точку из хедера для списка в футере */
.footer-nav .nav-list li::after {
    display: none;
}

.footer-nav .nav-list {
    display: flex;
    gap: 40px;
}

.footer-address {
    font-style: normal;
    text-align: right;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
}

/* Копирайт и ссылки */
.footer-legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}

.legal-links {
    display: flex;
    gap: 30px;
}

.legal-links a {
    color: rgba(255, 255, 255, 0.4);
}